body{
background-color: lab(94.81% -4.12 23.35);
font-family: Arial, Helvetica, sans-serif;
margin: 40px;

}

input{
display: block;
margin-bottom: 10px;
padding: 5px;

}
select{
display: block;
margin-bottom: 10px;
padding: 5px;

}