body{
background-color: lab(94.81% -4.12 23.35);
font-family: Arial, Helvetica, sans-serif;
margin: 40px;

}

h1{
font-family: 'Times New Roman', Times, serif;
}


input{
display: block;
margin-bottom: 10px;
padding: 5px;
width: 100%;
box-sizing: border-box;

}
select{
display: block;
margin-bottom: 10px;
padding: 5px;
width: 100%;
box-sizing: border-box;
}
.error{
color: red;
font-size: 14px;

}

succes{
    color: green;
    font-weight: bold;
}